In [1]:
import pandas as pd
import re

data=pd.read_csv(r'C:\Users\Brand\Desktop\Aviation2-master\Aviation2-master\cocktail.csv')

Glance at the data, see a few replicated columns because of captilziation of the column names; e.g 7-up and 7-Up

In [2]:
data.head()

,DrinkName,151 proof rum,7-Up,7-up,Absinthe,Absolut Citron,Absolut Kurant,Absolut Peppar,Absolut Vodka,Advocaat,...,Yukon Jack,Zima,blackstrap rum,demerara Sugar,gin,lemon,lemon juice,maraschino liqueur,orange juice,pineapple juice
0,A1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1 oz,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Remove replicating columns by combining those

In [4]:
col_list=[]
clean_data=pd.DataFrame()
for col in data.columns:
    col_clean=col.lower().strip()
    if col_clean not in col_list:
        clean_data[col_clean]=data[col]
        col_list.append(col_clean)
    else:
        clean_data[col_clean]=data[col].fillna('').astype(str)+clean_data[col_clean].fillna('').astype(str)

clean_data.head()

,drinkname,151 proof rum,7-up,absinthe,absolut citron,absolut kurant,absolut peppar,absolut vodka,advocaat,agave syrup,...,wild turkey,wine,worcestershire sauce,wormwood,yellow chartreuse,yoghurt,yukon jack,zima,blackstrap rum,demerara sugar
0,A1,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABC,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ace,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Adam,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AT&T,NaN,,NaN,NaN,NaN,NaN,1 oz,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Convert drink name into index

In [5]:
clean_data.set_index('drinkname',inplace=True) 
clean_data.head()

,151 proof rum,7-up,absinthe,absolut citron,absolut kurant,absolut peppar,absolut vodka,advocaat,agave syrup,allspice,...,wild turkey,wine,worcestershire sauce,wormwood,yellow chartreuse,yoghurt,yukon jack,zima,blackstrap rum,demerara sugar
drinkname,,,,,,,,,,,,,,,,,,,,,
A1,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABC,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ace,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Adam,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT&T,NaN,,NaN,NaN,NaN,NaN,1 oz,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

For values, we need to split out the numerical value and the unit of the value. Taking an example of 7-up, we need clean the value by splitting it; in this case we need to split 12 oz to be 12 in the value; at the same time, we need to convert the unit to be similar for the entire column.

In [8]:
clean_data['7-up'].sort_values(ascending=False)

drinkname
Radler                      12 oz
Tequila Slammer             1 part
Ziemes Martini Apfelsaft
Gin Cooler
Godchild
                             ...
Pegu Club
Pisco Sour
Porto flip
Penicillin
A1
Name: 7-up, Length: 404, dtype: object

To perform unit conversion, we need to 
* extract all units for a single column
* at column level, see which unit is the most used ones in the column
* write a function to convert all units into the most frequent used unit for that column

In [10]:
clean_data['151 proof rum'].sort_values(ascending=False)

drinkname
Downshift                    Float Bacardi
Miami Vice                    5 oz Bacardi
Kool First Aid                  2 oz light
Texas Sling                 1/2 oz Bacardi
Rum Old-fashioned                    1 tsp
                                 ...
Zima Blaster                            NaN
Zizi Coin-coin                          NaN
Zippy's Revenge                         NaN
Zimadori Zinger                         NaN
Ziemes Martini Apfelsaft                NaN
Name: 151 proof rum, Length: 404, dtype: object

Taking an example for '151 proof rum', we have units like 'oz' or 'tsp',the most frequent used unit seems to be oz, so we need to convert 'tsp' to be 'oz'. Let first construct a dictionary to include all units and conversion ratio.

In [11]:
unit_dict_clean={
    "oz":1,
    "tsp":0.167,
    "tblsp":0.167,
    "spoon":0.167,
    "jigger":1.5,
    "bottle":25,
    "L":33.814,
    "shot":1.5,
    "cl": 0.33814,
    "dash":0.33,
    "ml":0.034,
    "drop": 0.0017,
    "cup": 8,
    "can":12,
    "pinch":0.01,
    "gallon":128,
    "pint": 16,
    "part":1,
    }

Dictionary is constructed using 'oz' as the base unit and number represents the conversion ratio between oz and the specific unit; for example a tblsp is 0.167 of oz. All results from google search.

In [12]:
def convert_to_float(frac_str):
    """
    This function converts fraction to float
    """
    try:
        return float(frac_str)
    except ValueError:
        num, denom = frac_str.split('/')
        try:
            leading, num = num.split(' ')
            whole = float(leading)
        except ValueError:
            whole = 0
        frac = float(num) / float(denom)
        return whole - frac if whole < 0 else whole + frac

def convert(value):
    """
    This function converts a float, string float,int into a float
    """
    if '-' in str(value):
        try:
            left,right=value.split('-')
            left=convert_to_float(left.strip())
            right=convert_to_float(right.strip())
            return (left+right)/2
        except:
            return float(left[0])
    else:
        try:
            return convert_to_float(value)
        except:
            if value =='' or pd.isna(value)==True:
                return 0
            else:
                return 1

def get_clean_value(x):
    """
    This function extract numerical part of value from cocktail database
    """
    try:
        num=re.search('^[\.|0-9]*[\.|\s|\-|\/|0-9]*[0-9]',x)
        return num[0]
    except:
        return x

def get_unit(x):
    """
    This function extract unit part of the value from cocktail database
    """
    try:
        num=re.search('^[\.|0-9]*[\.|\s|\-|\/|0-9]*[0-9]',x)
        unit=x[num.span()[1]:]
        for key in unit_dict_clean.keys():
            if key in unit:
                return key
        return ''
    except:
        return ''
    
def convert_unit(x,original_unit,new_unit):
    """
    This function change the values from its original unit to new unit
    """
    try:
        return x*unit_dict[original_unit]/unit_dict[new_unit]
    except:
        return x

Above are all the funtions used to clean up the data; Let's make all the conversions neccessary

In [13]:
clean_data_step2=pd.DataFrame(index=clean_data.index)
col_unit_dict={}
for col in clean_data.columns:
    try:
        col_unit=clean_data[col].where(lambda x:x !='').dropna().apply(lambda x:get_unit(str(x))).value_counts().idxmax()
        if col_unit=='part':
            col_unit='oz'
    except:
        col_unit='part or not unit'
    col_unit_dict[col]=col_unit
    clean_data_step2[col+' ('+col_unit+')']=clean_data[col].apply(lambda x:convert_unit(convert(get_clean_value(x)),get_unit(x),col_unit))

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [15]:
clean_data_step2.sort_values(by='151 proof rum (oz)',ascending=False).head()

,151 proof rum (oz),7-up (oz),absinthe (),absolut citron (oz),absolut kurant (cl),absolut peppar (oz),absolut vodka (shot),advocaat (oz),agave syrup (spoon),allspice (tblsp),...,wild turkey (oz),wine (oz),worcestershire sauce (tsp),wormwood (),yellow chartreuse (oz),yoghurt (cup),yukon jack (oz),zima (oz),blackstrap rum (oz),demerara sugar (tsp)
drinkname,,,,,,,,,,,,,,,,,,,,,
Miami Vice,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kool First Aid,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ACID,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Broadside,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
Downshift,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

I change the column names to include the final unit that is used, if there is no unites showing up in the column name that means there were no units included in the original database.And compare this to the original cocktail database

In [18]:
data.sort_values(by='151 proof rum',ascending=False)

,DrinkName,151 proof rum,7-Up,7-up,Absinthe,Absolut Citron,Absolut Kurant,Absolut Peppar,Absolut Vodka,Advocaat,...,Yukon Jack,Zima,blackstrap rum,demerara Sugar,gin,lemon,lemon juice,maraschino liqueur,orange juice,pineapple juice
80,Downshift,Float Bacardi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,Miami Vice,5 oz Bacardi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Kool First Aid,2 oz light,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,Texas Sling,1/2 oz Bacardi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,Rum Old-fashioned,1 tsp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399,Zima Blaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12 oz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
400,Zizi Coin-coin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
401,Zippy's Revenge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
402,Zimadori Zinger,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12 oz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
403,Ziemes Martini Apfelsaft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Finally,save the data

In [19]:
clean_data_step2.fillna(0,inplace=True)
clean_data_step2.to_csv(r'C:\Users\Brand\Desktop\Aviation2-master\Aviation2-master\cocktail_clean.csv')